.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    background: #1a2a44;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid var(--main-color);
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
  }
  
  .nav-links li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: min(1.25rem, 3.5vw);
  }
  
  .nav-links li a:hover {
    color: var(--primary-color)
  }
  
  .language-toggle {
    border: none;
    /* background-color: var(--secondary-text-color); */
    /* padding: 3px 3px; */
    border: 1px solid white;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .language-icon {
    min-width: 40px;
    max-width: 80px;
    min-height: 20px;
    max-height: 40px;
    width: 10vw;
    height: 5vw;
  }