.skills {
    padding: 5rem 0;
    max-width: 90%;
    margin: 20rem auto;
  }
  
  .skills h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
  
  .skills-category {
    flex: 1;
    min-width: 300px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px var(--main-color);
    border: 3px solid var(--main-color);
  }
  
  .skills-category h3 {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skill-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .skill-name {
    flex: 1;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
  }
  
  .skill-progress {
    width: 150px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .skill-progress-bar {
    height: 100%;
    background-color: var(--main-color-alt);
    transition: width 0.3s ease;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 800px) {
    .skills-container {
      flex-direction: column;
      align-items: center;
    }
  
    .skills-category {
      width: 100%;
      max-width: 500px;
    }

    .skills
    {
      margin: 5rem auto;
    }
  }