* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: white;
  min-height: 100vh;
  /* padding: 20px; */
  margin: 0 auto;
}

main {
  /* max-width: 90%; */
  margin: 0 auto;
}

section {
  /* margin-top: 80px;
  margin-bottom: 170px; */
}

