:root {
  --main-color: #00d9ff;
  --main-color-alt : #05ffe2;
  --main-bg-color: #0E1724;
  --secondary-bg-color: #17263B;
  --text-color: #FFFFFF;
  --secondary-text-color: #bacdd6;
}

*{
  /* box-shadow: none !important; */
}

p{
  font-size: 1.125rem !important;
}

strong{
  font-family: 1.3rem !important;
}
